!= partial('_shared/header')

#content: .container
  != partial('_shared/ad_responsive')
  .row-fluid
    h1.title-divider
      span About Us
      small!= partial('_shared/ad_links')
  .row-fluid
    .span9
      p.
        Our mission is to provide FREE, extremely valuable and helpful information concerning zero based
        budgets to as many people as possible.
      p.
        We are just two regular guys in our early 30s, with 9-5 jobs, who have a dream to escape the rat race in order to
        obtain financial freedom and spend more time on the important things in life, namely our families. Both of us are big
        <a href="http://www.daveramsey.com">Dave Ramsey</a> fans, who influenced us to paid off all of our
        debt minus our mortgages, which has made huge impacts on our lives. With that said, we want to bring
        as many people as we can along with us by empowering them with the tools to succeed. Our stance on
        life can be summed up with the <a href="http://www.theavettbrothers.com">Avett Brothers</a> lyrics from the song
        <a href="http://www.azlyrics.com/lyrics/avettbrothers/headfullofdoubtroadfullofpromise.html">Head Full of Doubt/Road Full of Promise</a>:
      blockquote
        p.
          When nothing is owed, deserved or expected<br/>
          And your life doesn't change by the man that's elected<br/>
          If you're loved by someone you're never rejected<br/>
          Decide what to be and go be it.
      p.
        So if you are done waiting on someone else to save you and are ready to take charge of your life in
        order to make your dreams happen then we are here for you. We hope that you enjoy the tools that we
        are developing and that they push you over the tipping point towards financial freedom.
    .span3
      != partial('_shared/sidebar')

!= partial('_shared/footer')
