!= partial('_shared/header')

#content: #highlighted.hero
  .inner
    .static-banner.container
      .row-fluid
        .span5.text-center
          img(src="/img/budget.jpg", alt="Budget Spreadsheet")
        .span6.offset1.caption
          h2 <strong>FREE</strong> Budget Templates
          h4 Based on the Zero Based Budget System
          p Give every dollar a name and make your money work for you!
          a.btn.btn-large.btn-primary(href="/templates") <i class="icon-download-alt"></i> Download Now

.container
  .row-fluid
    .span9
      .blog-post
        h1.title What's a Zero Based Budget?
        ul.inline.meta.muted
          li <i class="icon-calendar"></i> Jun 02 2013
        p.
          The zero based budget has changed my financial future and set my family on the path of success. For years my
          wife and I struggled to understand how we could make a good living, but we always came up short at the end of
          the month. No matter how hard we tried we would lose track of where our money went and overspend due to lack
          of discipline. It was not until we attended
          <a href="http://www.daveramsey.com/fpu">Financial Peace University</a>, where we were introduced to the
          concept of zero based budgets, that we turned our finances around.
        p.
          The introduction to this philosophy was life changing for us because it forced us to assign every dollar of
          our income a job so our money worked for us. So often we get way ahead of ourselves when we dream of our
          financial independence and forget to establish the foundation of the behavior change, which starts with a
          budget. The budget is the basis from which all of your financial goals flow.
        h4.
          Zero Based Budgeting Sounds Scary and Really Boring
        p.
          The down and dirty is that your total income from all sources minus your total expense equals zero at the end
          of the month. Sounds simple. This means every dollar of income and expenses. Believe me, in the beginning I
          tried to be smarter than the system, but that always led to failure.
          <a href="http://www.daveramsey.com/">Dave Ramsey</a> states that you must "spend every dollar on paper before
          the month begins" - before you spend it for real. If you think the zero based budget is too boring for you
          then you need to take a good look at your commitment of becoming financially independent.
        p.
          The key to ensuring that this process works is that you must give every dollar spent a name whether it is
          utilities, mortgage payment, <a href="http://www.rothira.com/what-is-a-Roth-IRA">Roth IRA</a>, or emergency
          fund. After you have done this for every penny of your income, then and only then will you have a full plan to
          make your money work for you. A new budget must be completed for every month so don't get lazy and assume that
          every month will be the same. You know what assuming does! Don't be that guy. Step up, get your spouse
          (household pet or some inanimate object) involved, and do the right thing!
        p.
          Not convinced yet? Okay, let's do some
          <a href="http://www.artofmanliness.com/2009/08/17/how-to-make-a-decision-like-ben-franklin/">Ben Franklin Pros & Cons action</a>:
        h4.
          What are the Pros for Zero Based Budgets?
        ul
          li Simplicity.
          li Gain control over every dollar that is spent.
          li You give each dollar a job. Don't let them be lazy bums.
          li Flexible. Easily adjusted to meet reality because no budget is perfect.
          li Establishes the basis for your personal finance plan.
          li Instills discipline and backbone to say no to unneeded expenses.
        h4.
          What are the Cons for Zero Based Budgets?
        p.
          There aren't any! Make it happen and complete the budget. We created
          <a href="/templates">free spreadsheet templates</a>, with calculations built in, that you can download for
          FREE.
    .span3
      .sidebar
        .block.text-center
          != partial("_shared/ad_skyscraper")

!= partial('_shared/footer')
