ins.adsbygoogle(style="display:inline-block;width:728px;height:15px",
                data-ad-client="ca-pub-4925344950353158",
                data-ad-slot="8402105427")
script.
  (adsbygoogle = window.adsbygoogle || []).push({});
