.text-center
  ins.adsbygoogle(style="display:inline-block;width:728px;height:90px",
                  data-ad-client="ca-pub-4925344950353158",
                  data-ad-slot="3579054626")
  script.
    (adsbygoogle = window.adsbygoogle || []).push({});
