ins.adsbygoogle(style="display:inline-block;width:160px;height:600px",
                data-ad-client="ca-pub-4925344950353158",
                data-ad-slot="7401661825")
script.
  (adsbygoogle = window.adsbygoogle || []).push({});
